@model IxTimeSheet.DAL.Model.TimeLog

@{
    ViewData["Title"] = "Create";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function()
    {
        $("#ddClients").change(function()
        {
            var clientId=$(this).val();
            $.getJSON("../TimeLogs/GetProjectsByClientId",{clientId:clientId},
            function(classesData)
            {
                var select = $("#ddProjects");
                select.empty();

                select.append($('<option/>',
                {
                    value:0,
                    text:"Select Project"
                }));

                $.each(classesData, function (index, itemData)
                {
                    select.append($('<option/>',
                    {
                        value: itemData.value,
                        text: itemData.text
                    }));
                });
            });
        });

        $("#ddProjects").change(function()
        {
            var projectId=$(this).val();
            $.getJSON("../TimeLogs/GetJobsByProjectId",{projectId:projectId},
            function(classesData)
            {
                var select = $("#ddJobs");
                select.empty();

                select.append($('<option/>',
                {
                    value:0,
                    text:"Select Job"
                }));

                $.each(classesData, function (index, itemData)
                {
                    select.append($('<option/>',
                    {
                        value: itemData.value,
                        text: itemData.text
                    }));
                });
            });
        });
    });

</script>

<h1>Create</h1>

<h4>TimeLog</h4>
<hr />
<div class="row">
    <div class="col-md-12" >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Client" class="control-label" required="required"></label>               
                @Html.DropDownListFor(Model => Model.Client, new SelectList(ViewBag.AllClients, "Id", "Name"),"Select Client", new { id = "ddClients", @class="form-control"})
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label" required="required"></label>  
                @Html.DropDownListFor(Model => Model.Project, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "Select Project", new{ id = "ddProjects", @class="form-control"}) 
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job" class="control-label" required="required"></label>                                   
                    @Html.DropDownListFor(Model => Model.Job, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "Select Job", new{ id = "ddJobs", @class="form-control"})                 
                    <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkItem" class="control-label"></label>
                <input asp-for="WorkItem" class="form-control" />
                <span asp-validation-for="WorkItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="DateTime.Today"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control "></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" type="time" min="00:29:00" max="08:00:00"/>
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div>
                <select class="form-control" name="BillableStatus"> 
                <option value="true">Billable </option>
                <option value="false">Non Billable</option>
                <span asp-validation-for="BillableStatus" class="text-danger"></span>
            </select>
            </div>          
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
