@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IX TimeSheet</h1>
    <p>IX... TimeSheets that translate productivity!!!</p>
    <p> Welcome to the new age of online timesheet management. Record your employees' daily, weekly, and monthly time logs.</p>
</div>
